{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Smart assistant</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{$basePath}/css/bootstrap-grid.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<script src="{$basePath}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="{$basePath}/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{$basePath}/js/main.js" type="text/javascript"></script>

	{block head}{/block}
</head>

<body>

	<div class="container">
		<hr>
		<a n:href="Homepage:"><h3 class="text-center">Smart Assistant</h3></a>
		<hr>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

        {include content}
	</div>

	{block scripts}
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
