{block content}
<h4 class="text-center">Tasks</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {foreach $tasks as $task}
        <tr>
            <td>{$task->id}</td>
            <td>{date('d.m.Y', strtotime($task->created_at))}&nbsp;&nbsp;{date('H:i', strtotime($task->created_at))}</td>
            <td>{$task->type}</td>
            <td>{$task->content}</td>
        </tr>
    {/foreach}
    </tbody>
</table>
{/block}