{block content}

<div class="text-center">
    <a n:href="Task:">All tasks</a>
</div>

{if $refreshToken}
    <h4>Refresh</h4>
    {control form}
{/if}

<h4 class="text-center">Notes</h4>
{foreach $notes as $note}
<div class="alert alert-success" role="alert">
    <small>{date('j.n.Y H:i', strtotime($note->created_at))}</small>
    <h5>{$note->content}</h5>
</div>
{/foreach}

{/block}